/* src/components/Sidebar.css */
.container-fluid {
    display: flex;
    height: 100%;
  }
  
  .d-flex {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    flex: 0 0 10%; /* 20% width */
    background-color: #e2ede2;
    padding: 20px;
    height: 100vh;
    color: '#50777d';
    font-size: '20px';
    font-family: 'Poppins';
    font-weight: 700;
    line-height: '26px';

  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 25px 0;
  }
  
  .sidebar ul li span {
    text-decoration: none;
    color: #50777d;
    font-weight: 500;
  }
  .sidebar ul li :target {
      background-color: #fff;
  }

  
  .main-content {
    flex: 1; /* Remaining 80% width */
    padding: 20px;
    background-color: #fff;
  }
  

  .logo-text{
      color: #275664;
      font-size: 24px;
      font-family: "Poppins";
      font-weight: 700;
      line-height: 28px;
    }